### https://raw.github.com/github/gitignore/6531e382923e8e4d89b069a045e1c2a5d4be6321/Global/Vagrant.gitignore

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

###

# shared directory
/share/
